#a
{
    max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 150px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
	
}
#a input
{
	margin-left:40%;
	border: 2px solid red;;
    border-radius: 4px;
	
}

#cyber
{
   font-size:50px;
   margin: 40px auto;
   font-weight:900;
   
}
